* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height:100%;
}

 body{
   background:#c7d59f;  /*verde chiaro spento*/
 }

.titolo{
  padding: 40px;
  text-align: center;
}

 img{   /*icone rimpicciolite*/
   width: 50px;
   height:auto;
 }

 h1{
   display: inline-block;
   margin-top: 10px;
   color: #4b5842;  /*verde scuro*/
   font-family: 'Potta One', cursive;
   font-size: 50px;
 }

 .contenitore{
   height:450px;
   width:300px;
   border: 5px solid #4b5842; /*verde scuro*/
   border-radius: 10px;
   background-color: #c5efcb;  /*verde chiaro*/
   text-align: center;
   margin: 20px auto;
 }

 .contenitore>h1{
   margin-top: 20px;
   font-size: 30px;
 }

 h2{
   font-family: 'Architects Daughter', cursive;
   font-size: 20px;
   margin-top:50px;
   color: #3e8989; /*verde scuro*/
 }

#numero{
  height: 35px;
  width:100px;
  border: 3px solid #5b8266;  /*verde scuro*/
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  background-color: #a9c5a0; /*verde chiaro*/
  color: #6d6875; /*verde*/
}

#aggiungere{
  height:40px;
  width: 100px;
  margin-right: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  color: #6d6875;  /*verde*/
  background-color: #a9c5a0;  /*verde chiaro*/
  border: 3px solid #5b8266;  /*verde scuro*/
  border-radius: 5px;
}

#diminuire{
  height:40px;
  width: 100px;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  color: #6d6875;  /*verde*/
  background-color: #a9c5a0;  /*verde chiaro*/
  border: 3px solid #5b8266;   /*verde scuro*/
  border-radius: 5px;
}

/* Adattabilità */

@media screen and (max-width: 667px){
  h1{font-size: 30px;}
  img{
    width: 30px;
    height: auto;
  }
}
